---
  - name: install influxdb
    apt:
      name:
        - influxdb
        - influxdb-client
      state: present
      update_cache: yes

  - name: get telegraf package
    get_url:
      url: https://dl.influxdata.com/telegraf/releases/telegraf_1.15.2-1_amd64.deb
      dest: /tmp/telegraf_1.15.2-1_amd64.deb

  - name: install telegraf
    apt:
      deb: /tmp/telegraf_1.15.2-1_amd64.deb

  - name: telegraf config
    template:
     src: telegraf.conf.j2
     dest: /etc/telegraf/telegraf.conf
    notify: restart telegraf


  - name: Enabled
    service:
      name: telegraf
      state: started
      enabled: yes
