---
  - name: Install fping
    apt:
      name: fping
      state: present
      

  - name: get pinger script
    template:
      src: pinger.sh
      dest:  /usr/local/bin/pinger
      mode: '0755'


  - name: make config directory
    file:
      path: /etc/pinger/
      state: directory

  - name: get pinger config file
    template:
      src: pinger.conf.j2
      dest: /etc/pinger/pinger.conf
    notify:
      - restart pinger

  - name: create pinger user
    user:
      name: pinger

  - name: build pinger service
    template:
      src: pinger.service.j2
      dest: /etc/systemd/system/pinger.service
    notify:
      - systemctl daemon-reload
      - restart pinger
