---
  - name: install docker
    apt:
      name:
        - docker.io
        - python3-docker
      state: present
      update_cache: yes

  - name: Enabled
    service:
      name: docker
      state: started
      enabled: yes
