---
  - name: make directory
    file:
      path: /opt/agama
      state: directory

  - name: get dockerfile
    get_url:
      url: https://raw.githubusercontent.com/hudolejev/agama/master/Dockerfile
      dest: /opt/agama/Dockerfile

  - name: build container
    docker_image:
      name: agama
      build:
        path: /opt/agama/
        network: host
      source: build

  - name: start container
    docker_container:
      name: "agama-{{item}}"
      image: agama
      env:
        AGAMA_DATABASE_URI: mysql://{{ mysql_user }}:{{ mysql_password }}@{{ mysql_host }}/{{ mysql_database }}
      published_ports:
        - "270{{item}}:8000"
    loop:
      "{{range(nginx_container_per_vm)|list}}"
